<!--DOCTYPE html-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Learn django! {% endblock head_title %}</title>
</head>
<body>
    {% if messages %}
         <div class="messages">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>