{% extends "posts/base.html" %}

{% block head_title %}
    {{ post.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        <h1>
            {{ post.title }}
        </h1>
        <small>{{ post.timestamp }}</small>
        <br />
        Author: {{ post.user}}
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="" class="img-responsive" />
        {% endif %}
            {{ post.content }} <br />
    </div>
{% endblock content %}