{% extends "posts/base.html" %}

{% block content %}
    <div class="row">
        {% for post in query_set %}
            <div class="col-sm-6 col-sm-offset-3">
            <div class="thumbnail">
              <!--<img src="..." alt="...">-->
              <div class="caption">
                <h3>
                    <a href="{{ post.get_absolute_url }}">
                            {{ post.title }} <br />
                    </a>
                    <small class="text-info">
                        {{ post.timestamp|timesince }} ago
                    </small>
                </h3>
                 {% if post.image %}
                    <img src="{{ post.image.url }}" alt="" class="img-responsive" />
                {% endif %}
                <p>{{ post.content|linebreaks|truncatechars:30 }}</p>
                  Author: {{ post.user }}
                <p><a href="{{ post.get_absolute_url }}" class="btn btn-primary" role="button">View</a>
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if query_set.has_previous %}
                    <a href="?page={{ query_set.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ query_set.number }} of {{ query_set.paginator.num_pages }}.
                </span>

                {% if query_set.has_next %}
                    <a href="?page={{ query_set.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>

{% endblock content %}